*{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #464646;
}
.nav-link{
    color: aliceblue !important;
    font-size: 14px;
    margin-left: 40px;
}
.nav-link:hover{
     font-style: italic;           
}
footer p{
    color: aliceblue;
    font-size: 14px;
}